.snakeAndladder-wrapper{
	width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
	.game-row{
		display: block;
		width: 100%;
		overflow: auto;
		.grid-cell{
			display: block;
		    float: left;
		    position: relative;
		    box-sizing: border-box;
		    width: 10%;
		    text-align: center;
		    min-height: 50px;
		    line-height: 50px;
		    border-top: 1px solid gray;
		    padding-bottom: 10%;
		    border-left: 1px solid gray;
		    &:last-child{
		    	border-right: 1px solid gray;
		    }
		    span{
		    	position: absolute;
			    top: 80%;
			    left: 80%;
			    transform: translate(-50%, -50%);
			    line-height: 16px;
		    }
		    &:hover{
		    	background-color : #eeeeee;
		    }
		}
		&:last-child{
			.grid-cell{
				border-bottom: 1px solid gray;
			}	
		}
	}
	.players-wrapper{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 10;
    	color: #fff;
	    .player{
	    	bottom: 5%;
		    left: 5%;
		    width: 20px;
		    height: 20px;
		    background: red;
		    position: absolute;
		    border-radius: 50%;
		    transform: translate(-50%,50%);
		    text-align: center;
		    font-size: 12px;
		    line-height: 20px;
	    }
	}


	.snake-wrapper{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 10;
    	color: #fff;
    	.snake {
		    width: 200px;
		    height: 330px;
		    background: transparent;
		    position: absolute;
		    transform-origin: bottom;
		    /*-webkit-transform: scaleX(-1);*/
    		/*transform: scaleX(-1);*/
    		background-size: 100%, 100%;
    		background-repeat: no-repeat;
    	}
	}

	.ladder-wrapper{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 10;
    	color: #fff;
    	.ladder {
		    width: 70px;
		    height: 250px;
		    background: transparent;
		    position: absolute;
		    background-size: 100%, 100%;
		    overflow: hidden;
		    transform-origin: bottom;
    	}
	}

	.dice-wrapper{
		position: absolute;
	    width: 300px;
	    height: 200px;
	    bottom: 50%;
	    left: 100%;
	    transform: translateY(50%);
	    .play-dice{
	    	padding: 20px;
		    border: 1px solid #ccc;
		    margin-left: 20px;
		    text-align: center;
		    font-size: 20px;
		    cursor: pointer;
	    }
	    .current-player{
	    	text-align: center;
		    font-size: 20px;
		    margin-bottom: 20px;
	    }
	}
}

.choose-players{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: #fff;
    padding: 100px;
    text-align: center;
    box-sizing: border-box;
    .title{
    	font-size: 40px;
    	margin-bottom: 100px;
    }
    .opt{
    	font-size: 23px;
	    border: 1px solid #ccc;
	    display: block;
	    padding: 8px 60px;
	    margin-bottom: 30px;
	    cursor: pointer;
    }
    &.hide{
    	display: none;
    }
}

.players-detail{
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background: #fff;
    padding: 100px;
    text-align: center;
    color: #666;
    box-sizing: border-box;
	.title{
		font-size: 40px;
    	margin-bottom: 100px;
	}
	.enter-game{
		font-size: 23px;
	    border: 1px solid #ccc;
	    display: block;
	    padding: 8px 60px;
	    margin-bottom: 30px;
	    cursor: pointer;
	}
	.add-player{
		font-size: 23px;
	    border: 1px solid #ccc;
	    display: block;
	    padding: 8px 60px;
	    margin-bottom: 30px;
	    cursor: pointer;
	}
	input{
		display: block;
	    width: 100%;
	    height: 40px;
	    font-size: 24px;
	    padding: 2px 10px;
	    margin-bottom: 30px;
	    box-sizing: border-box;
	    color: #555;
	    &:focus{
	    	outline : 0px;
	    }
	}
	&.hide{
    	display: none;
    }
}