.snakeAndladder-wrapper{
	width: 50%;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
	.game-row{
		display: block;
		width: 100%;
		overflow: auto;
		.grid-cell{
			display: block;
		    float: left;
		    position: relative;
		    box-sizing: border-box;
		    width: 10%;
		    text-align: center;
		    min-height: 50px;
		    line-height: 50px;
		    border-top: 1px solid gray;
		    padding-bottom: 10%;
		    border-left: 1px solid gray;
		    &:last-child{
		    	border-right: 1px solid gray;
		    }
		    span{
		    	position: absolute;
			    top: 80%;
			    left: 80%;
			    transform: translate(-50%, -50%);
			    line-height: 16px;
		    }
		    &:hover{
		    	background-color : #eeeeee;
		    }
		}
		&:last-child{
			.grid-cell{
				border-bottom: 1px solid gray;
			}	
		}
	}
	.players-wrapper{
		position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 10;
    	color: #fff;
	    .player{
	    	bottom: 5%;
		    left: 5%;
		    width: 20px;
		    height: 20px;
		    background: red;
		    position: absolute;
		    border-radius: 50%;
		    transform: translate(-50%,50%);
		    text-align: center;
		    font-size: 12px;
		    line-height: 20px;
	    }
	}
}